@import "src/styles/palette-colors";

.button-account {
  padding: 1.5rem 0;
  border-radius: 25px 0 0 25px;
}

.button-shopping-cart {
  padding: 1.5rem 0;
  border-radius: 0;
}

.price {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 0.5rem;
  height: auto;
  min-width: 64px;
  width: 110px;
  border-radius: 0 25px 25px 0;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0px rgba(0, 0, 0, 0.14),
  0 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.logged-color {
  color: map-get($my-warn-alt, 500) !important;;
}
