<section class="d-inline-flex">
  <button mat-raised-button
          (click)="this.openLoginModal()"
          class="button-account">
    <mat-icon color="accent" class="icon-md">
      account_circle
    </mat-icon>
  </button>

  <button mat-raised-button
          (click)="this.openDialog()"
          class="button-shopping-cart">
    <div [matBadge]="this.shoppingCounter"
         class="d-flex"
         matBadgeColor="warn"
         matBadgeOverlap="true">
      <mat-icon color="accent" class="icon-md">
        shopping_cart
      </mat-icon>
    </div>
  </button>
  <span class="mat-body-1 price">
    {{ this.totalPrices | formatPrice }}
  </span>
</section>
