.register-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
  padding: 16px;
  width: 750px;

  h2 {
    margin-bottom: 1rem;
  }

  mat-form-field {
    width: 300px;
  }

  button {
    margin-top: 1rem;
  }

  .close-icon {
    position: relative;
    display: block;
    align-self: end;
    cursor: pointer;
  }
}
