.register-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
  padding: 1rem;
  width: 400px;

  .mat-mdc-form-field-error .mat-icon {
    color: #ffcc00;
    border-radius: 25px;
  }

  .mat-mdc-form-field-error .mat-icon:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px #ffcc00;
  }

}
