@import 'src/styles/palette-colors';


//height="134" width="150"
.img-container {
  height: 134px;
  width: 150px;
  overflow: hidden;
  position: relative;
}

.product-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.price-highlight {
  font-weight: bold;
  color: map-get($my-primary-map, 500);
  font-size: 1.6em;
  line-height: 1.2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: color 0.3s ease;
}

.button-add-product {
  border-radius: 0;
  width: 100%;
  margin: 0;
}

.price-animation {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.price-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: map-get($my-primary-map, 500);
  transform: skew(-45deg);
  transition: left 0.4s ease-in-out;
  z-index: -1;
}

.product-card:hover .price-animation::before {
  left: -10%;
}

.product-card:hover .price-highlight {
  color: map-get(map-get($my-accent-map, "contrast"), 500);
}

.position-shopping-cart {
  position: absolute;
  left: 20px;
  top: 7px
}
