<section class="container">
  <div class="row my-3">
    <ng-container *ngIf="!this.isLoading">
      <div class="col-md-3">
        <app-filter [subcategories]="this.subcategories"
                    (onFilterChange)="this.filterProducts($event)">
        </app-filter>
      </div>
      <div class="col-md-9">
        <div class="row row-cols-auto justify-content-center">
          <app-product-card [product]="product"
                            *ngFor="let product of filteredProducts"
                            class="card-width my-2 mx-2">
          </app-product-card>
          <div *ngIf="this.filteredProducts.length === 0" class="alert-message">
            No se encontraron productos
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>
