.card-width {
  min-width: 260px;
  width: 30%;
}

.alert-message {
  color: #000;
  background-color: #ffeeba;
  border: 1px solid #ffc107;
  padding: 1rem;
  border-radius: 4px;
  margin: 4rem 0;
}
