<section class="container">
  <div class="row my-3">
    <div class="col-md-3">
      <ng-container *ngIf="!this.isLoading">
        <app-filter [subcategories]="this.subcategories"></app-filter>
      </ng-container>
    </div>
    <div class="col-md-9">
      <div class="row row-cols-auto">
        <app-product-card [product]="product"
                          *ngFor="let product of products"
                          class="col-card my-2 mx-2">
        </app-product-card>
      </div>
    </div>
  </div>
</section>
