<mat-card class="h-100 product-card">
  <mat-card-header>
    <span class="img-container mx-auto">
      <img [ngSrc]="this.product.imagenes[0].url!"
           fill="cover"
           alt="{{this.product.nombre}}">
    </span>
  </mat-card-header>
  <mat-card-content class="d-flex flex-column justify-content-evenly h-100 my-3">
    <h3 class="text-center">{{ this.product.nombre }}</h3>
    <span class="price-highlight text-center price-animation">
      <!--            {{ this.product.precio | currency:'AR$ ':'symbol':'1.2-2' }}-->
      {{this.product.precio | formatPrice }}
    </span>
    <span class="mat-caption mt-3">Subcategoría: {{ product.subcategoria }}</span>
  </mat-card-content>
  <mat-card-actions class="p-0">
    <button mat-flat-button color="accent"
            class="button-add-product d-inline-flex"
            (click)="this.addToCart(product)">
      <mat-icon class="position-shopping-cart">add_shopping_cart</mat-icon>
      Agregar al carrito
    </button>
  </mat-card-actions>
</mat-card>
