@use '@angular/material' as mat;

@include mat.core();
@import 'src/styles/palette-colors';

// Fonts, Genera un error en consola pero funciona. Actualmente se esta cargando en el index.html
/*@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800&display=swap');*/


$my-typography: mat.define-typography-config(
  $headline-1: mat.define-typography-level(112px, 112px, 300, $font-family: 'Asap', $letter-spacing: -0.0134em),
  $headline-2: mat.define-typography-level(56px, 56px, 400, $font-family: 'Asap', $letter-spacing: -0.0089em),
  $headline-3: mat.define-typography-level(45px, 48px, 400, $font-family: 'Asap', $letter-spacing: 0.0000em),
  $headline-4: mat.define-typography-level(34px, 40px, 400, $font-family: 'Asap', $letter-spacing: 0.0074em),
  $headline-5: mat.define-typography-level(24px, 32px, 600, $font-family: 'Exo 2', $letter-spacing: 0.0000em),
  $headline-6: mat.define-typography-level(20px, 32px, 600, $font-family: 'Exo 2', $letter-spacing: 0.0075em),
  $subtitle-1: mat.define-typography-level(16px, 28px, 600, $font-family: 'Montserrat', $letter-spacing: 0.0094em),
  $subtitle-2: mat.define-typography-level(15px, 24px, 600, $font-family: 'Exo 2', $letter-spacing: 0.0067em),
  $body-1: mat.define-typography-level(15px, 24px, 500, $font-family: 'Montserrat', $letter-spacing: 0.0179em),
  $body-2: mat.define-typography-level(14px, 20px, 500, $font-family: 'Montserrat', $letter-spacing: 0.0179em),
  $button: mat.define-typography-level(16px, 16px, 500, $font-family: 'Asap', $letter-spacing: 0),
  $caption: mat.define-typography-level(13px, 20px, 600, $font-family: 'Exo 2', $letter-spacing: 0),
);

@include mat.all-component-typographies($my-typography);

$my-primary: mat.define-palette($my-primary-map, 500, 300, 900);
$my-accent: mat.define-palette($my-accent-map, 500, 300, 900);
$my-warn: mat.define-palette(mat.$red-palette);

$my-primary-dark: mat.define-palette($my-primary-dark);
$my-accent-dark: mat.define-palette($my-accent-dark);

$my-primary-alt: mat.define-palette($my-primary-alt);
$my-accent-alt: mat.define-palette($my-accent-alt);
$my-warn-alt: mat.define-palette($my-warn-alt);

$my-light-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  )
));

$my-dark-theme: mat.define-dark-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent-dark,
    warn: $my-warn,
  )
));

@include mat.all-component-themes($my-light-theme);
@include mat.strong-focus-indicators-theme($my-light-theme);

.dark-theme {
  @include mat.all-component-colors($my-dark-theme);
  @include mat.strong-focus-indicators-color($my-dark-theme);

  .background-alt {
    background-color: #424242 !important;
    color: white !important;
  }

}

/*********************************************************************/

$alternate-theme: mat.define-light-theme((
  color: (
    primary: $my-primary-alt,
    accent: $my-accent-alt,
    warn: $my-warn-alt,
  )
));

.my-alternate-theme {
  @include mat.badge-color($alternate-theme);
  @include mat.icon-button-color($alternate-theme);
}

/*********************************************************************/


// Apply the dark theme only when the user prefers light themes.
/*@media (prefers-color-scheme: no-preference) {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  @include mat.all-component-colors($my-dark-theme);
  //@include mat.button-theme($my-dark-theme);
}*/

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
/*.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons', sans-serif;
  .mat-badge-content {
    font-family: 'Exo 2', sans-serif;
  }
}*/

