// Colors

$my-accent-dark: (
  50 : #fff9e0,
  100 : #fff0b3,
  200 : #ffe680,
  300 : #ffdb4d,
  400 : #ffd426,
  500 : #ffcc00,
  600 : #ffc700,
  700 : #ffc000,
  800 : #ffb900,
  900 : #ffad00,
  A100 : #ffffff,
  A200 : #fffaf2,
  A400 : #ffe8bf,
  A700 : #ffdfa6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-accent-map: (
  50 : #e1e5eb,
  100 : #b5bdce,
  200 : #8491ad,
  300 : #53658c,
  400 : #2e4474,
  500 : #09235b,
  600 : #081f53,
  700 : #061a49,
  800 : #051540,
  900 : #020c2f,
  A100 : #687bff,
  A200 : #354eff,
  A400 : #0221ff,
  A700 : #001de7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$my-primary-map: (
  50 : #ffece4,
  100 : #fed0ba,
  200 : #feb08d,
  300 : #fe905f,
  400 : #fd793c,
  500 : #fd611a,
  600 : #fd5917,
  700 : #fc4f13,
  800 : #fc450f,
  900 : #fc3308,
  A100 : #ffffff,
  A200 : #fff2f1,
  A400 : #ffc6be,
  A700 : #ffb0a4,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
