// Colors

$my-accent-dark: (
  50 : #fff9e0,
  100 : #fff0b3,
  200 : #ffe680,
  300 : #ffdb4d,
  400 : #ffd426,
  500 : #ffcc00,
  600 : #ffc700,
  700 : #ffc000,
  800 : #ffb900,
  900 : #ffad00,
  A100 : #ffffff,
  A200 : #fffaf2,
  A400 : #ffe8bf,
  A700 : #ffdfa6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-primary-dark: (
  50 : #e6e9ee,
  100 : #c0c7d5,
  200 : #97a2ba,
  300 : #6d7c9e,
  400 : #4d6089,
  500 : #2e4474,
  600 : #293e6c,
  700 : #233561,
  800 : #1d2d57,
  900 : #121f44,
  A100 : #809cff,
  A200 : #4d75ff,
  A400 : #1a4eff,
  A700 : #003aff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$my-accent-map: (
  50 : #e1e5eb,
  100 : #b5bdce,
  200 : #8491ad,
  300 : #53658c,
  400 : #2e4474,
  500 : #09235b,
  600 : #081f53,
  700 : #061a49,
  800 : #051540,
  900 : #020c2f,
  A100 : #687bff,
  A200 : #354eff,
  A400 : #0221ff,
  A700 : #001de7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$my-primary-map: (
  50 : #ffece4,
  100 : #fed0ba,
  200 : #feb08d,
  300 : #fe905f,
  400 : #fd793c,
  500 : #fd611a,
  600 : #fd5917,
  700 : #fc4f13,
  800 : #fc450f,
  900 : #fc3308,
  A100 : #ffffff,
  A200 : #fff2f1,
  A400 : #ffc6be,
  A700 : #ffb0a4,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-primary-alt: (
  50 : #efe9e6,
  100 : #d8c9c2,
  200 : #bea599,
  300 : #a48070,
  400 : #916551,
  500 : #7d4a32,
  600 : #75432d,
  700 : #6a3a26,
  800 : #60321f,
  900 : #4d2213,
  A100 : #ffa388,
  A200 : #ff7c55,
  A400 : #ff5522,
  A700 : #ff4108,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);


$my-accent-alt: (
  50 : #e6e9ee,
  100 : #c0c7d5,
  200 : #97a2ba,
  300 : #6d7c9e,
  400 : #4d6089,
  500 : #2e4474,
  600 : #293e6c,
  700 : #233561,
  800 : #1d2d57,
  900 : #121f44,
  A100 : #809cff,
  A200 : #4d75ff,
  A400 : #1a4eff,
  A700 : #003aff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$my-warn-alt: (
  50 : #f9eae3,
  100 : #efcab9,
  200 : #e4a78a,
  300 : #d9835b,
  400 : #d16937,
  500 : #c94e14,
  600 : #c34712,
  700 : #bc3d0e,
  800 : #b5350b,
  900 : #a92506,
  A100 : #ffdad4,
  A200 : #ffaea1,
  A400 : #ff826e,
  A700 : #ff6c54,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
