/* You can add global styles to this file, and also import other style files */

/* for sidenav to take a whole page */
html, body {
  margin: 0;
  height: 100%;
}

.icon-lg {
  transform: scale(1.5);
}

.icon-md {
  transform: scale(1.25);
}

.mat-icon {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 24px !important;
  height: 24px !important;
  width: 24px !important;
}

.mat-mdc-menu-panel {
  border-radius: 0 !important;
}

.submitButton {
  padding: 1.5rem !important;
}

.mat-mdc-form-field-error {
  color: white;
  background-color: #FF6E31;
  border-radius: 4px;
  margin-top: 0.2rem;
  padding: 0.2rem 0.4rem;
}

.close-icon {
  background-color: #06183e !important;
  color: white !important;
  border-radius: 0 50% 50% 0 !important;
  box-shadow: 0 0 5px #d7d7d7;
}

.close-icon:hover {
  background-color: #0c3077 !important;
}

.mat-expansion-panel-spacing {
  margin: 0;
}

.mat-expansion-panel {
  border-radius: 0 !important;
}
