<form class="login-form" [formGroup]="this.form" (ngSubmit)="this.login()">

  <mat-form-field class="form-field" appearance="outline" color="accent">
    <input matInput placeholder="Correo electrónico" type="email" formControlName="email" required>
    <mat-error
      *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)">
      <span *ngIf="form.controls['email'].hasError('required')">El correo electrónico es requerido.</span>
      <span *ngIf="form.controls['email'].hasError('email')">El correo electrónico no es válido.</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field" appearance="outline" color="accent">
    <input matInput placeholder="Contraseña" type="password" formControlName="password" required>
    <mat-error
      *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)">
      <span *ngIf="form.controls['password'].hasError('required')">La contraseña es requerida.</span>
    </mat-error>
  </mat-form-field>

  <mat-error *ngIf="form.hasError('invalidCredentials')">
    Credenciales de inicio de sesión incorrectas. Por favor, inténtalo nuevamente.
  </mat-error>

  <button type="submit" mat-raised-button color="accent" class="submitButton">Ingresar</button>
</form>

