<section class="mt-md-2">

  <app-search></app-search>
  <app-active-filter></app-active-filter>

  <div class="d-inline-flex justify-content-between w-100 px-3 align-items-center my-2">
    <h2 class="m-0 p-0">Filtros</h2>
    <mat-icon color="accent" class="icon-md icon-filter"
              title="Limpiar filtros"
              (click)="this.clearFiltersAndEmit()">
      clear_all
    </mat-icon>
  </div>

  <app-price-range (onInvalidUrl)="this.addParamToRemoveOfUrl($event)"></app-price-range>

  <app-subcategory [subcategories]="this.subcategories"></app-subcategory>

</section>

