<mat-toolbar color="primary">
  <mat-toolbar-row id="topHeader"
                   class="d-flex justify-content-md-center gap-md-5
                   gap-0  justify-content-evenly py-2 flex-wrap">
    <button mat-icon-button class="navbar-toggler d-md-none"
            type="button" data-bs-toggle="offcanvas"
            data-bs-target="#menuSideBar">
      <mat-icon >menu</mat-icon>
    </button>

    <a [routerLink]="'/home'">
      <img ngSrc="./assets/logo/logo-fix.png" alt="logo" height="67" width="252">
    </a>

    <ng-container *ngIf="isMdOrGreaterThan">
      <app-finder class="finder-width"></app-finder>
    </ng-container>

    <div class="d-flex gap-2 px-2 utility-icons">
      <button mat-icon-button>
        <mat-icon color="accent">person</mat-icon>
      </button>
      <mat-divider vertical="true"></mat-divider>
      <button mat-icon-button routerLink="/carrito">
        <div matBadge="4" matBadgeColor="warn" matBadgeOverlap="true">
          <mat-icon color="accent">shopping_cart</mat-icon>
        </div>
      </button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="navbar navbar-expand-md d-flex justify-content-center " id="bottomHeader">
    <ng-container *ngIf="this.isSmOrLower">
      <app-finder class="finder-width"></app-finder>
    </ng-container>

    <div class="offcanvas offcanvas-start"
         data-bs-scroll="true" tabindex="-1"
         id="menuSideBar">
      <div class="offcanvas-body d-flex flex-md-row justify-content-md-center mt-md-0 align-items-center
      flex-column justify-content-start gap-5 mt-5 mat-subtitle-1">
        <!--  Hacer 2 toolbar, para diferentes breakpoints. El toolbar de abajo seria para mayor a md -->
        <a [routerLink]="'/categorias'" class="nav-link d-flex align-items-center" routerLinkActive="nav-active" >
          <mat-icon style="transform: scale(1); vertical-align: baseline">expand_more</mat-icon>
          CATEGORÍAS
        </a>
        <a [routerLink]="'/arma-tu-pc'" class="nav-link" routerLinkActive="nav-active"> ARMÁ TU PC </a>
        <a [routerLink]="'/ayuda'" class="nav-link" routerLinkActive="nav-active"> AYUDA </a>
        <a [routerLink]="'/marcas-sponsor'" class="nav-link" routerLinkActive="nav-active"> MARCAS SPONSOR </a>
      </div>
    </div>
  </mat-toolbar-row>

</mat-toolbar>





