<mat-toolbar color="accent">
  <mat-toolbar-row id="topHeader"
                   class="d-flex justify-content-md-center gap-sm-3 gap-lg-5
                   gap-0  justify-content-evenly py-2 flex-wrap">

    <button mat-icon-button class="d-md-none">
      <mat-icon class="icon-md">menu</mat-icon>
    </button>

    <a [routerLink]="'/home'">
      <img ngSrc="./assets/logo/logo-fix.png" alt="logo" height="67" width="252">
    </a>

    <ng-container *ngIf="this.isMdOrGreaterThan">
      <app-finder class="finder-width"></app-finder>
    </ng-container>

    <app-utility></app-utility>

  </mat-toolbar-row>

  <mat-toolbar-row class="d-inline-flex justify-content-evenly flex-wrap" id="bottomHeader">
    <ng-container *ngIf="!this.isMdOrGreaterThan">
      <app-finder class="finder-width"></app-finder>
    </ng-container>

    <app-navbar *ngIf="this.isMdOrGreaterThan"></app-navbar>

    <mat-slide-toggle (change)="this.switchTheme()" color="primary" class="d-inline-block mb-2">
      <span class="mat-caption text-light">Dark Mode</span>
    </mat-slide-toggle>

  </mat-toolbar-row>

</mat-toolbar>





