@import "src/styles/palete-colors.scss";

#topHeader {
  height: auto;
  border-bottom: 3px solid map-get(map-get($my-accent-map, "contrast"), 500);
}

#bottomHeader {
  background-color: map-get($my-accent-map, 500);
}

.mat-toolbar-row {
  height: auto;
  min-height: 64px;
}

.finder-width {
  min-width: 40%;
}



