@import "src/styles/palete-colors.scss";

:host .mat-mdc-form-field {
  width: 100%;
  min-width: 290px;
  margin-top: 0.8rem;
}

/* Modifico el input */
:host ::ng-deep .mdc-text-field {
  //background-color: map-get(map-get($my-accent-map, "contrast"), 500);
  border-radius: 25px;
}

